/*
 * @file Developer CSS
 * --------------------------------------------------------------------------------- */

/* Highlight items that do not have attributes set
 * --------------------------------------------------------------------------------- */

/* Links */
a[href="#"],
a[href=""] {
  outline: 1px dashed #e21a23;
}

/* Images */
img[alt=""] {
  outline: 1px dashed #e21a23;
}


/* Highlight sidebars
 * --------------------------------------------------------------------------------- */
.sidebar {
  outline: 1px dashed #e21a23;
}

/* Display responsive information
 * --------------------------------------------------------------------------------- */
#dfed {
  color: #fff;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-size: 14px;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 2147483647; /* pretty much the highest value possible to ensure we are above every other element */
}

#dfed-inner {
  background-color: #e21a23;
}

#dfed-info {
  background-color: #e21a23;
  border: 2px solid #fff;
  border-left: none;
  padding: 8px;
}

#dfed-info:after {
  color: #fff;
  display: block;
  margin: 4px 0 0 0;
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
  #dfed-info:after {
    content: "Resolution: Mobile";
  }
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  #dfed-info:after {
    content: "Resolution: Tablet";
  }
}

@media only screen and (min-width: 1025px) {
  #dfed-info:after {
    content: "Resolution: Desktop";
  }
}